# March 2022 Cleaning

## 1. Import Libraries & Data
## 2. Drop Columns 
## 3. Fix AGELVL Column
## 4. Fix LOSLVL Colum
## 5. Fix OCC Column
## 6. Fix PATCO Column
## 7. Fix AGYSUB Column
## 8. Fix EDLVL Column
## 9. Fix WORKSTAT Column
## 10. Fix WORKSCH Column
## 11. Fix SUPERVIS
## 12. Fix PP and PPGRD
## 13. Fix LOC
## 14. Fix STEMOCC 
## 15. Remove SALLVL, Check Other 4 columns
## 16. Export file

### 1. Import Libraries & Data

In [1]:
#Importing Libaries

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# Import March 2022 pickle file

In [4]:
path = r'/Users/bethanybreed/Documents/A Career Foundry/Gov Employ Data/02 Data'

In [5]:
df_raw = pd.read_pickle(os.path.join(path,'prepared data','March 2022 raw.pkl'))

In [6]:
#Check Import

In [7]:
df_raw.shape

(2155624, 20)

In [8]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155624 entries, 0 to 2155623
Data columns (total 20 columns):
 #   Column      Dtype
---  ------      -----
 0   AGYSUB      object
 1   LOC         object
 2   AGELVL      object
 3   EDLVL       object
 4   GSEGRD      object
 5   LOSLVL      object
 6   OCC         object
 7   PATCO       int64
 8   PP          object
 9   PPGRD       object
 10  SALLVL      object
 11  STEMOCC     object
 12  SUPERVIS    object
 13  TOA         object
 14  WORKSCH     object
 15  WORKSTAT    int64
 16  DATECODE    int64
 17  EMPLOYMENT  int64
 18  SALARY      float64
 19  LOS         float64
dtypes: float64(2), int64(4), object(14)
memory usage: 328.9+ MB

### 2. Drop Columns TOA and EMPLOYMENT as they are not needed

In [9]:
#All of EMPLOYMENT is a "1" as a yes, TOA implies what work schedule employee is on and is not needed

In [10]:
df_raw2 = df_raw.drop(columns =['TOA','EMPLOYMENT'])

In [11]:
df_raw2.head()

,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,SALLVL,STEMOCC,SUPERVIS,WORKSCH,WORKSTAT,DATECODE,SALARY,LOS
0,AA00,11,F,13,NaN,F,0340,2,ES,ES-**,S,XXXX,2,F,1,202203,192500.0,18.8
1,AA00,11,I,15,NaN,H,0905,1,ES,ES-**,R,XXXX,2,F,1,202203,187000.0,29.2
2,AA00,40,E,15,15.0,E,0905,1,99,GS-15,P,XXXX,2,F,1,202203,161786.0,12.5
3,AA00,11,E,15,15.0,E,0905,1,99,GS-15,O,XXXX,8,F,1,202203,158383.0,10.5
4,AA00,11,F,15,13.0,E,0905,1,99,GS-13,L,XXXX,8,F,1,202203,121065.0,13.4

In [12]:
df_raw2.shape

(2155624, 18)

### 3. Fix AGELVL Column

In [13]:
# AGELVL is letters coded for an age gap (5 years between) I want the gaps to show 
# I also want to rename to age_level and make sure data type is text.
# Duplicate column as age_level_code to assist with analysis

In [14]:
#Import age level data as dictionary

In [15]:
age_data = pd.read_csv(os.path.join(path, 'original data', 'AGELVL.csv'), index_col = False)

In [16]:
age_data.head()

  AGELVL       AGELVLT  AGELVLCODE
0      A  Less than 20           1
1      B         20-24           2
2      C         25-29           3
3      D         30-34           4
4      E         35-39           5

In [17]:
age_data.shape

(12, 3)

In [18]:
df_raw2['AGELVLCODE'] = df_raw2['AGELVL']

In [19]:
df_raw2.head()

,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,SALLVL,STEMOCC,SUPERVIS,WORKSCH,WORKSTAT,DATECODE,SALARY,LOS,AGELVLCODE
0,AA00,11,F,13,NaN,F,0340,2,ES,ES-**,S,XXXX,2,F,1,202203,192500.0,18.8,F
1,AA00,11,I,15,NaN,H,0905,1,ES,ES-**,R,XXXX,2,F,1,202203,187000.0,29.2,I
2,AA00,40,E,15,15.0,E,0905,1,99,GS-15,P,XXXX,2,F,1,202203,161786.0,12.5,E
3,AA00,11,E,15,15.0,E,0905,1,99,GS-15,O,XXXX,8,F,1,202203,158383.0,10.5,E
4,AA00,11,F,15,13.0,E,0905,1,99,GS-13,L,XXXX,8,F,1,202203,121065.0,13.4,F

In [20]:
data_dict_age = age_data.set_index('AGELVL').to_dict()['AGELVLT']

In [21]:
df_raw3 = df_raw2.replace({"AGELVL":data_dict_age})

In [22]:
#Check column

In [23]:
df_raw3['AGELVL'].head(10)

0    40-44
1    55-59
2    35-39
3    35-39
4    40-44
5    45-49
6    50-54
7    35-39
8    30-34
9    25-29
Name: AGELVL, dtype: object

In [24]:
df_raw3.shape

(2155624, 19)

In [25]:
df_raw3.AGELVL.value_counts(dropna = False)

50-54           309279
55-59           302467
40-44           300570
35-39           280751
45-49           272871
60-64           203442
30-34           200956
25-29           125763
65 or more      115278
20-24            42624
Less than 20      1621
Unspecified          2
Name: AGELVL, dtype: int64

In [26]:
#Rename AGELVL

In [27]:
df_raw3.rename(columns = {'AGELVL':'age_level'},inplace = True)

In [28]:
type('age_level')

str

In [29]:
#Change Age Level Code to be numbers

In [30]:
df_raw3.AGELVLCODE.value_counts(dropna = False)

H    309279
I    302467
F    300570
E    280751
G    272871
J    203442
D    200956
C    125763
K    115278
B     42624
A      1621
Z         2
Name: AGELVLCODE, dtype: int64

In [31]:
age_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AGELVL      12 non-null     object
 1   AGELVLT     12 non-null     object
 2   AGELVLCODE  12 non-null     int64
dtypes: int64(1), object(2)
memory usage: 416.0+ bytes

In [32]:
age_data['AGELVLCODE']=age_data['AGELVLCODE'].astype('string')

In [33]:
age_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AGELVL      12 non-null     object
 1   AGELVLT     12 non-null     object
 2   AGELVLCODE  12 non-null     string
dtypes: object(2), string(1)
memory usage: 416.0+ bytes

In [34]:
data_dict_age2 = age_data.set_index('AGELVL').to_dict()['AGELVLCODE']

In [35]:
df_raw3b = df_raw3.replace({"AGELVLCODE":data_dict_age2})

In [36]:
#Check column

In [37]:
df_raw3b['AGELVLCODE'].head(10)

0    6
1    9
2    5
3    5
4    6
5    7
6    8
7    5
8    4
9    3
Name: AGELVLCODE, dtype: object

In [38]:
df_raw3b.AGELVLCODE.value_counts(dropna = False)

8     309279
9     302467
6     300570
5     280751
7     272871
10    203442
4     200956
3     125763
11    115278
2      42624
1       1621
12         2
Name: AGELVLCODE, dtype: int64

In [39]:
#Rename AGELVLCODE
df_raw3b.rename(columns = {'AGELVLCODE':'age_level_code'},inplace = True)

In [40]:
type('age_level_code')

str

In [41]:
#Change type to integer
df_raw3b['age_level_code']=df_raw3b['age_level_code'].astype('float')

In [42]:
df_raw3b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155624 entries, 0 to 2155623
Data columns (total 19 columns):
 #   Column          Dtype
---  ------          -----
 0   AGYSUB          object
 1   LOC             object
 2   age_level       object
 3   EDLVL           object
 4   GSEGRD          object
 5   LOSLVL          object
 6   OCC             object
 7   PATCO           int64
 8   PP              object
 9   PPGRD           object
 10  SALLVL          object
 11  STEMOCC         object
 12  SUPERVIS        object
 13  WORKSCH         object
 14  WORKSTAT        int64
 15  DATECODE        int64
 16  SALARY          float64
 17  LOS             float64
 18  age_level_code  float64
dtypes: float64(3), int64(3), object(13)
memory usage: 312.5+ MB

### 4. Fix LOSLVL Column

In [43]:
#LOS or Length of Service uses letters that correlate to years in service
#Replace values with those in data dictionary
#Rename to "years_of_service" and make sure string

In [44]:
#Import length of service data as dictionary

In [45]:
los_data = pd.read_csv(os.path.join(path, 'original data', 'LOS.csv'), index_col = False)

In [46]:
los_data.head()

  LOSLVL      LOSLVLT
0      A  Less than 1
1      B        1 - 2
2      C        3 - 4
3      D        5 - 9
4      E      10 - 14

In [47]:
los_data.shape

(11, 2)

In [48]:
data_dict_los = los_data.set_index('LOSLVL').to_dict()['LOSLVLT']

In [49]:
#Change LOSLVL to LOSLVLT

In [50]:
df_raw4 = df_raw3b.replace({"LOSLVL":data_dict_los})

In [51]:
df_raw4["LOSLVL"].head()

0    15 - 19
1    25 - 29
2    10 - 14
3    10 - 14
4    10 - 14
Name: LOSLVL, dtype: object

In [52]:
df_raw4.shape

(2155624, 19)

In [53]:
#Rename LOSLVL

In [54]:
df_raw4.rename(columns = {'LOSLVL':'years_of_service'},inplace = True)

In [55]:
type('years_of_service')

str

In [56]:
df_raw4.years_of_service.value_counts(dropna=False)

10 - 14        418773
5 - 9          389965
15 - 19        285087
1 - 2          275639
3 - 4          202404
Less than 1    167149
20 - 24        162788
30 - 34         99322
25 - 29         82856
35 or more      71102
Unspecified       539
Name: years_of_service, dtype: int64

### 5. Fix OCC Column

In [57]:
#OCC Column has 4 digit to represent occupation.  First 2 digits also represent occupation family
#Divide out first 2 digits into new column nameed 'occupation_family'
#Replace number values with occupation name
#Rename OCC to occupation and make sure it is set as string data type

In [58]:
#duplicate column, cut off last 2 digits

In [59]:
df_raw4['OCC'].head(10)

0    0340
1    0905
2    0905
3    0905
4    0905
5    0905
6    0301
7    0905
8    0905
9    0905
Name: OCC, dtype: object

In [60]:
df_raw4['OCCFAM'] = df_raw4.loc[:, 'OCC']

In [61]:
df_raw4.head()

,AGYSUB,LOC,age_level,EDLVL,GSEGRD,years_of_service,OCC,PATCO,PP,PPGRD,SALLVL,STEMOCC,SUPERVIS,WORKSCH,WORKSTAT,DATECODE,SALARY,LOS,age_level_code,OCCFAM
0,AA00,11,40-44,13,NaN,15 - 19,0340,2,ES,ES-**,S,XXXX,2,F,1,202203,192500.0,18.8,6.0,0340
1,AA00,11,55-59,15,NaN,25 - 29,0905,1,ES,ES-**,R,XXXX,2,F,1,202203,187000.0,29.2,9.0,0905
2,AA00,40,35-39,15,15.0,10 - 14,0905,1,99,GS-15,P,XXXX,2,F,1,202203,161786.0,12.5,5.0,0905
3,AA00,11,35-39,15,15.0,10 - 14,0905,1,99,GS-15,O,XXXX,8,F,1,202203,158383.0,10.5,5.0,0905
4,AA00,11,40-44,15,13.0,10 - 14,0905,1,99,GS-13,L,XXXX,8,F,1,202203,121065.0,13.4,6.0,0905

In [62]:
df_raw4['OCCFAM'] = df_raw4['OCCFAM'].str[:2]

In [63]:
df_raw4['OCCFAM'].head()

0    03
1    09
2    09
3    09
4    09
Name: OCCFAM, dtype: object

In [64]:
df_raw4.head(30)

,AGYSUB,LOC,age_level,EDLVL,GSEGRD,years_of_service,OCC,PATCO,PP,PPGRD,SALLVL,STEMOCC,SUPERVIS,WORKSCH,WORKSTAT,DATECODE,SALARY,LOS,age_level_code,OCCFAM
0,AA00,11,40-44,13,NaN,15 - 19,0340,2,ES,ES-**,S,XXXX,2,F,1,202203,192500.0,18.8,6.0,03
1,AA00,11,55-59,15,NaN,25 - 29,0905,1,ES,ES-**,R,XXXX,2,F,1,202203,187000.0,29.2,9.0,09
2,AA00,40,35-39,15,15.0,10 - 14,0905,1,99,GS-15,P,XXXX,2,F,1,202203,161786.0,12.5,5.0,09
3,AA00,11,35-39,15,15.0,10 - 14,0905,1,99,GS-15,O,XXXX,8,F,1,202203,158383.0,10.5,5.0,09
4,AA00,11,40-44,15,13.0,10 - 14,0905,1,99,GS-13,L,XXXX,8,F,1,202203,121065.0,13.4,6.0,09
5,AA00,11,45-49,15,14.0,5 - 9,0905,1,99,GS-14,M,XXXX,8,F,1,202203,134649.0,9.8,7.0,09
6,AA00,11,50-54,15,NaN,10 - 14,0301,2,ES,ES-**,S,XXXX,2,F,1,202203,199300.0,12.4,8.0,03
7,AA00,11,35-39,15,14.0,5 - 9,0905,1,99,GS-14,M,XXXX,8,F,1,202203,138856.0,7.5,5.0,09
8,AA00,11,30-34,15,13.0,1 - 2,0905,1,99,GS-13,J,XXXX,8,F,1,202203,106823.0,2.5,4.0,09
9,AA00,11,25-29,15,11.0,1 - 2,0905,1,99,GS-11,G,XXXX,8,F,2,202203,77447.0,1.3,3.0,09
10,AA00,36,35-39,21,12.0,Less than 1,0905,1,99,GS-12,I,XXXX,8,F,2,202203,95320.0,0.6,5.0,09
11,AA00,11,20-24,13,9.0,Less than 1,0560,2,99,GS-09,F,XXXX,8,F,1,202203,61947.0,0.5,2.0,05
12,AA00,11,30-34,04,11.0,Less than 1,0904,1,99,GS-11,G,XXXX,8,F,2,202203,74950.0,0.5,4.0,09
13,AB00,FR,45-49,17,14.0,25 - 29,1102,1,99,GS-14,L,XXXX,8,F,1,202203,124764.0,27.4,7.0,11
14,AB00,39,40-44,13,12.0,10 - 14,1084,2,99,GS-12,J,XXXX,8,F,2,202203,107660.0,12.0,6.0,10
15,AB00,51,45-49,13,15.0,20 - 24,0505,2,99,GS-15,Q,XXXX,2,F,1,202203,176300.0,22.1,7.0,05
16,AB00,FR,55-59,17,NaN,35 or more,0301,2,ES,ES-**,T,XXXX,2,F,1,202203,203252.0,36.7,9.0,03
17,AB00,FR,55-59,13,13.0,10 - 14,1630,2,99,GS-13,H,XXXX,2,F,1,202203,89337.0,14.0,9.0,16
18,AB00,23,60-64,17,14.0,20 - 24,0170,1,99,GS-14,N,XXXX,2,F,1,202203,141259.0,24.1,10.0,01
19,AB00,51,45-49,17,15.0,1 - 2,1035,2,99,GS-15,Q,XXXX,2,F,1,202203,176300.0,2.4,7.0,10
20,AB00,FR,35-39,17,13.0,10 - 14,1630,2,99,GS-13,H,XXXX,2,F,1,202203,81216.0,14.4,5.0,16
21,AB00,06,40-44,13,13.0,10 - 14,0201,2,99,GS-13,L,XXXX,8,F,1,202203,120618.0,14.6,6.0,02
22,AB00,FR,55-59,17,11.0,5 - 9,1630,2,99,GS-11,F,XXXX,2,F,1,202203,64579.0,9.0,9.0,16
23,AB00,51,60-64,10,13.0,15 - 19,2210,2,99,GS-13,L,2210,8,F,1,202203,124626.0,19.7,10.0,22
24,AB00,51,55-59,17,14.0,30 - 34,1035,2,99,GS-14,P,XXXX,2,I,2,202203,164102.0,33.6,9.0,10
25,AB00,FR,45-49,13,9.0,15 - 19,1630,2,99,GS-09,F,XXXX,8,F,1,202203,61227.0,18.4,7.0,16
26,AB00,51,65 or more,21,NaN,1 - 2,0170,1,99,ED-00,J,XXXX,8,I,2,202203,104350.0,1.8,11.0,01
27,AB00,FR,50-54,13,14.0,25 - 29,0201,2,99,GS-14,L,XXXX,8,F,1,202203,121565.0,29.3,8.0,02
28,AB00,IT,60-64,17,12.0,30 - 34,1630,2,99,GS-12,G,XXXX,2,F,1,202203,77407.0,30.9,10.0,16
29,AB00,51,60-64,17,14.0,15 - 19,0341,2,99,GS-14,N,XXXX,2,F,1,202203,143064.0,18.8,10.0,03

In [65]:
df_raw4.shape

(2155624, 20)

In [66]:
#Import OCCFAM.csv and set as data dictionary

In [67]:
occfam_data = pd.read_csv(os.path.join(path, 'original data', 'OCCFAM.csv'), index_col = False)

In [68]:
occfam_data.head()

  OCCFAM                                 OCCFAM.1
0     00                MISCELLANEOUS OCCUPATIONS
1     01  SOCIAL SCIENCE, PSYCHOLOGY, AND WELFARE
2     02   PERSONNEL MGMT & INDUSTRIAL  RELATIONS
3     03   GENERAL ADMIN, CLERICAL, & OFFICE SVCS
4     04   NATURAL RESOURCES MGMT & BIO SCI GROUP

In [69]:
occfam_data.shape

(60, 2)

In [70]:
data_dict_occfam = occfam_data.set_index('OCCFAM').to_dict()['OCCFAM.1']

In [71]:
#Change OCCFAM values to OCCFAM.1

In [72]:
df_raw5 = df_raw4.replace({"OCCFAM":data_dict_occfam})

In [73]:
df_raw5["OCCFAM"].head(20)

0      GENERAL ADMIN, CLERICAL, & OFFICE SVCS
1                           LEGAL AND KINDRED
2                           LEGAL AND KINDRED
3                           LEGAL AND KINDRED
4                           LEGAL AND KINDRED
5                           LEGAL AND KINDRED
6      GENERAL ADMIN, CLERICAL, & OFFICE SVCS
7                           LEGAL AND KINDRED
8                           LEGAL AND KINDRED
9                           LEGAL AND KINDRED
10                          LEGAL AND KINDRED
11                      ACCOUNTING AND BUDGET
12                          LEGAL AND KINDRED
13                      BUSINESS AND INDUSTRY
14                       INFORMATION AND ARTS
15                      ACCOUNTING AND BUDGET
16     GENERAL ADMIN, CLERICAL, & OFFICE SVCS
17        EQUIPMENT, FACILITIES, AND SERVICES
18    SOCIAL SCIENCE, PSYCHOLOGY, AND WELFARE
19                       INFORMATION AND ARTS
Name: OCCFAM, dtype: object

In [74]:
df_raw5.shape

(2155624, 20)

In [75]:
#Reaname OCCFAM

In [76]:
df_raw5.rename(columns = {'OCCFAM':'occupation_family'},inplace = True)

In [77]:
type('occupation_family')

str

In [78]:
#import OCC.csv as data dictionary

In [79]:
occ_data = pd.read_csv(os.path.join(path, 'original data', 'OCC.csv'), index_col = False)

In [80]:
occ_data.head()

    OCC                                       OCCT
0  0006    CORRECTIONAL INSTITUTION ADMINISTRATION
1  0007                       CORRECTIONAL OFFICER
2  0017                          EXPLOSIVES SAFETY
3  0018  SAFETY AND OCCUPATIONAL HEALTH MANAGEMENT
4  0019                          SAFETY TECHNICIAN

In [81]:
occ_data.shape

(669, 2)

In [82]:
data_dict_occ = occ_data.set_index('OCC').to_dict()['OCCT']

In [83]:
#Change OCC values to OCCT

In [84]:
df_raw6 = df_raw5.replace({"OCC":data_dict_occ})

In [85]:
df_raw6["OCC"].head(20)

0                           PROGRAM MANAGEMENT
1                             GENERAL ATTORNEY
2                             GENERAL ATTORNEY
3                             GENERAL ATTORNEY
4                             GENERAL ATTORNEY
5                             GENERAL ATTORNEY
6     MISCELLANEOUS ADMINISTRATION AND PROGRAM
7                             GENERAL ATTORNEY
8                             GENERAL ATTORNEY
9                             GENERAL ATTORNEY
10                            GENERAL ATTORNEY
11                             BUDGET ANALYSIS
12                                   LAW CLERK
13                                 CONTRACTING
14                          VISUAL INFORMATION
15                        FINANCIAL MANAGEMENT
16    MISCELLANEOUS ADMINISTRATION AND PROGRAM
17            CEMETERY ADMINISTRATION SERVICES
18                                     HISTORY
19                              PUBLIC AFFAIRS
Name: OCC, dtype: object

In [86]:
df_raw6.shape

(2155624, 20)

In [87]:
#rename OCC and check data type

In [88]:
df_raw6.rename(columns = {'OCC':'occupation'},inplace = True)

In [89]:
type('occupation')

str

### 6. Fix PATCO Column

In [90]:
#PATCO represents Occupation Categories abbreviated with numbers
#Replace values from PATCO to category names
#Rename and make sure it is string data type
#Duplicate PATCO column to keep numerical values for analysis

In [91]:
df_raw6['occupation_code']=df_raw6['PATCO']

In [92]:
df_raw6.head()

,AGYSUB,LOC,age_level,EDLVL,GSEGRD,years_of_service,occupation,PATCO,PP,PPGRD,...,STEMOCC,SUPERVIS,WORKSCH,WORKSTAT,DATECODE,SALARY,LOS,age_level_code,occupation_family,occupation_code
0,AA00,11,40-44,13,NaN,15 - 19,PROGRAM MANAGEMENT,2,ES,ES-**,...,XXXX,2,F,1,202203,192500.0,18.8,6.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2
1,AA00,11,55-59,15,NaN,25 - 29,GENERAL ATTORNEY,1,ES,ES-**,...,XXXX,2,F,1,202203,187000.0,29.2,9.0,LEGAL AND KINDRED,1
2,AA00,40,35-39,15,15.0,10 - 14,GENERAL ATTORNEY,1,99,GS-15,...,XXXX,2,F,1,202203,161786.0,12.5,5.0,LEGAL AND KINDRED,1
3,AA00,11,35-39,15,15.0,10 - 14,GENERAL ATTORNEY,1,99,GS-15,...,XXXX,8,F,1,202203,158383.0,10.5,5.0,LEGAL AND KINDRED,1
4,AA00,11,40-44,15,13.0,10 - 14,GENERAL ATTORNEY,1,99,GS-13,...,XXXX,8,F,1,202203,121065.0,13.4,6.0,LEGAL AND KINDRED,1

In [93]:
df_raw6.shape

(2155624, 21)

In [94]:
#import PATCO.csv as data dictionary

In [95]:
patco_data = pd.read_csv(os.path.join(path, 'original data', 'PATCO.csv'), index_col = False)

In [96]:
patco_data.head()

   PATCO              PATCOT
0      1        Professional
1      2      Administrative
2      3           Technical
3      4            Clerical
4      5  Other White Collar

In [97]:
patco_data.shape

(7, 2)

In [98]:
data_dict_patco = patco_data.set_index('PATCO').to_dict()['PATCOT']

In [99]:
#Change PATCO values to PATCOT

In [100]:
df_raw7 = df_raw6.replace({"PATCO":data_dict_patco})

In [101]:
df_raw7["PATCO"].head(20)

0     Administrative
1       Professional
2       Professional
3       Professional
4       Professional
5       Professional
6     Administrative
7       Professional
8       Professional
9       Professional
10      Professional
11    Administrative
12      Professional
13      Professional
14    Administrative
15    Administrative
16    Administrative
17    Administrative
18      Professional
19    Administrative
Name: PATCO, dtype: object

In [102]:
df_raw7.shape

(2155624, 21)

In [103]:
#rename PATCO and check data type

In [104]:
df_raw7.rename(columns = {'PATCO':'occupation_category'},inplace = True)

In [105]:
type('occupation_category')

str

In [106]:
#check data type of occupation_code
type('occupation_code')

str

In [107]:
#change to float
df_raw7['occupation_code']=df_raw7['occupation_code'].astype('float')

In [108]:
df_raw7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155624 entries, 0 to 2155623
Data columns (total 21 columns):
 #   Column               Dtype
---  ------               -----
 0   AGYSUB               object
 1   LOC                  object
 2   age_level            object
 3   EDLVL                object
 4   GSEGRD               object
 5   years_of_service     object
 6   occupation           object
 7   occupation_category  object
 8   PP                   object
 9   PPGRD                object
 10  SALLVL               object
 11  STEMOCC              object
 12  SUPERVIS             object
 13  WORKSCH              object
 14  WORKSTAT             int64
 15  DATECODE             int64
 16  SALARY               float64
 17  LOS                  float64
 18  age_level_code       float64
 19  occupation_family    object
 20  occupation_code      float64
dtypes: float64(4), int64(2), object(15)
memory usage: 345.4+ MB

In [109]:
df_raw7.shape

(2155624, 21)

In [110]:
df_raw7.occupation_code.value_counts(dropna=False)

2.0    839221
1.0    604976
3.0    344179
6.0    180734
4.0    102011
5.0     83003
9.0      1500
Name: occupation_code, dtype: int64

### 7. Fix AGYSUB Column

In [111]:
#Agency is 4 digit code, first 2 is Agency, total 4 is distinct Sub Agency name
#Divide out first 2 digits into new column nameed 'AGY'
#Replace number values for both values AGY & AGYSUB
#Rename AGYSUB to sub_agency and AGY to agency and make sure both are string data type

In [112]:
#duplicate column, cut off last 2 digits

In [113]:
df_raw7['AGY'] = df_raw7.loc[:, 'AGYSUB']

In [114]:
df_raw7.head()

,AGYSUB,LOC,age_level,EDLVL,GSEGRD,years_of_service,occupation,occupation_category,PP,PPGRD,...,SUPERVIS,WORKSCH,WORKSTAT,DATECODE,SALARY,LOS,age_level_code,occupation_family,occupation_code,AGY
0,AA00,11,40-44,13,NaN,15 - 19,PROGRAM MANAGEMENT,Administrative,ES,ES-**,...,2,F,1,202203,192500.0,18.8,6.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,AA00
1,AA00,11,55-59,15,NaN,25 - 29,GENERAL ATTORNEY,Professional,ES,ES-**,...,2,F,1,202203,187000.0,29.2,9.0,LEGAL AND KINDRED,1.0,AA00
2,AA00,40,35-39,15,15.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-15,...,2,F,1,202203,161786.0,12.5,5.0,LEGAL AND KINDRED,1.0,AA00
3,AA00,11,35-39,15,15.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-15,...,8,F,1,202203,158383.0,10.5,5.0,LEGAL AND KINDRED,1.0,AA00
4,AA00,11,40-44,15,13.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-13,...,8,F,1,202203,121065.0,13.4,6.0,LEGAL AND KINDRED,1.0,AA00

In [115]:
df_raw7['AGY'] = df_raw7['AGYSUB'].str[:2]

In [116]:
df_raw7['AGY'].head()

0    AA
1    AA
2    AA
3    AA
4    AA
Name: AGY, dtype: object

In [117]:
df_raw7['AGY'].head(20)

0     AA
1     AA
2     AA
3     AA
4     AA
5     AA
6     AA
7     AA
8     AA
9     AA
10    AA
11    AA
12    AA
13    AB
14    AB
15    AB
16    AB
17    AB
18    AB
19    AB
Name: AGY, dtype: object

In [118]:
df_raw7.shape

(2155624, 22)

In [119]:
#Import AGY.csv and set as data dictionary

In [120]:
agy_data = pd.read_csv(os.path.join(path, 'original data', 'AGY.csv'), index_col = False)

In [121]:
agy_data.head()

  AGY                         AGYT
0  AF  DEPARTMENT OF THE AIR FORCE
1  AG    DEPARTMENT OF AGRICULTURE
2  AR       DEPARTMENT OF THE ARMY
3  CM       DEPARTMENT OF COMMERCE
4  DD        DEPARTMENT OF DEFENSE

In [122]:
agy_data.shape

(130, 2)

In [123]:
data_dict_agy = agy_data.set_index('AGY').to_dict()['AGYT']

In [124]:
#Change AGY values to AGYT

In [125]:
df_raw8 = df_raw7.replace({"AGY":data_dict_agy})

In [126]:
df_raw8["AGY"].head(20)

0     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
1     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
2     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
3     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
4     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
5     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
6     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
7     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
8     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
9     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
10    ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
11    ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
12    ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
13              AMERICAN BATTLE MONUMENTS COMMISSION
14              AMERICAN BATTLE MONUMENTS COMMISSION
15              AMERICAN BATTLE MONUMENTS COMMISSION
16              AMERICAN BATTLE MONUMENTS COMMISSION
17              AMERICAN BATTLE MONUMENTS COMMISSION
18              AMERICAN BATTLE MONUMENTS COMMISSION
19              AMERICAN BATTLE MONUMENTS COMMISSION
Name: AGY, dtype: object

In [127]:
df_raw8.shape

(2155624, 22)

In [128]:
#rename AGY and check data type

In [129]:
df_raw8.rename(columns = {'AGY':'agency'},inplace = True)

In [130]:
type('agency')

str

In [131]:
#Import AGYSUB.csv and set as data dictionary

In [132]:
agysub_data = pd.read_csv(os.path.join(path, 'original data', 'AGYSUB.csv'), index_col = False)

In [133]:
agysub_data.head()

  AGYSUB                                           AGYSUBT
0   AF02                  AIR FORCE INSPECTION AGENCY (FO)
1   AF03  AIR FORCE OPERATIONAL TEST AND EVALUATION CENTER
2   AF06                            AIR FORCE AUDIT AGENCY
3   AF07        AIR FORCE OFFICE OF SPECIAL INVESTIGATIONS
4   AF09                        AIR FORCE PERSONNEL CENTER

In [134]:
agysub_data.shape

(538, 2)

In [135]:
data_dict_agysub = agysub_data.set_index('AGYSUB').to_dict()['AGYSUBT']

In [136]:
#Change AGYSUB values to AGYSUBT

In [137]:
df_raw9 = df_raw8.replace({"AGYSUB":data_dict_agysub})

In [138]:
df_raw9["AGYSUB"].head(20)

0     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
1     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
2     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
3     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
4     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
5     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
6     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
7     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
8     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
9     ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
10    ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
11    ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
12    ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
13              AMERICAN BATTLE MONUMENTS COMMISSION
14              AMERICAN BATTLE MONUMENTS COMMISSION
15              AMERICAN BATTLE MONUMENTS COMMISSION
16              AMERICAN BATTLE MONUMENTS COMMISSION
17              AMERICAN BATTLE MONUMENTS COMMISSION
18              AMERICAN BATTLE MONUMENTS COMMISSION
19              AMERICAN BATTLE MONUMENTS COMMISSION
Name: AGYSUB, dtype: object

In [139]:
df_raw9.shape

(2155624, 22)

In [140]:
#rename AGYSUB and check data type

In [141]:
df_raw9.rename(columns = {'AGYSUB':'sub_agency'},inplace = True)

In [142]:
type('sub_agency')

str

### 8. Fix EDLVL Column

In [143]:
#EDLVL represents education level and is abbreviated with numbers
#Duplicate column for education level code
#Replace values from EDLVL with education levels
#Rename and make sure it is string data type

In [144]:
df_raw9.head()

,sub_agency,LOC,age_level,EDLVL,GSEGRD,years_of_service,occupation,occupation_category,PP,PPGRD,...,SUPERVIS,WORKSCH,WORKSTAT,DATECODE,SALARY,LOS,age_level_code,occupation_family,occupation_code,agency
0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,40-44,13,NaN,15 - 19,PROGRAM MANAGEMENT,Administrative,ES,ES-**,...,2,F,1,202203,192500.0,18.8,6.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
1,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,55-59,15,NaN,25 - 29,GENERAL ATTORNEY,Professional,ES,ES-**,...,2,F,1,202203,187000.0,29.2,9.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
2,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,40,35-39,15,15.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-15,...,2,F,1,202203,161786.0,12.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
3,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,35-39,15,15.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-15,...,8,F,1,202203,158383.0,10.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES
4,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,40-44,15,13.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-13,...,8,F,1,202203,121065.0,13.4,6.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES

In [145]:
df_raw9.EDLVL.value_counts(dropna=False)

04      375259
13      368304
17      231358
13.0    207551
4.0     184348
17.0    131211
10       95225
15       62539
21       52330
07       49448
10.0     41059
09       36048
08       36015
01       30256
21.0     26400
7.0      23561
06       21022
15.0     19330
9.0      16333
12       15817
11       15631
8.0      15047
14       14571
6.0      11123
14.0     11037
05        7730
11.0      7466
12.0      7326
18        7170
03        5432
22        4686
18.0      4412
1.0       4389
22.0      3676
3.0       2258
5.0       2003
**        1853
NaN       1588
16        1486
16.0      1054
19         887
20         436
19.0       371
20.0       305
02         207
2.0         66
Name: EDLVL, dtype: int64

In [146]:
#drop NaN values from EDLVL
df_raw9.dropna(subset = ['EDLVL'], inplace = True)

In [147]:
df_raw9.shape

(2154036, 22)

In [148]:
#change ** to 99 to make column numerical and merge duplicates
df_raw9['EDLVL'].replace(('**','99'), inplace = True)

In [149]:
#change type to integer to merge numbers
df_raw9['EDLVL']=df_raw9['EDLVL'].astype('int64')

In [150]:
df_raw9.EDLVL.value_counts(dropna=False)

13    576079
4     560624
17    362679
10    136342
15     81891
21     78755
7      73081
9      52435
8      51126
1      34651
6      32163
14     25616
12     23246
11     23161
18     11583
5       9737
22      8362
3       7692
16      2541
19      1258
20       741
2        273
Name: EDLVL, dtype: int64

In [151]:
#duplicate column to keep numbers for analysis
df_raw9['education_code']=df_raw9['EDLVL']

In [152]:
df_raw9.shape

(2154036, 23)

In [153]:
#change type back to string for data dictionary for EDLVL
df_raw9['EDLVL']=df_raw9['EDLVL'].astype('str')

In [154]:
#Import EDLVL.csv and set as data dictionary

In [155]:
edlvl_data = pd.read_csv(os.path.join(path, 'original data', 'EDLVL.csv'), index_col = False)

In [156]:
edlvl_data.head()

  EDLVL                      EDLVLT
0    01           BELOW HIGH SCHOOL
1    02           BELOW HIGH SCHOOL
2    03           BELOW HIGH SCHOOL
3    04  HIGH SCHOOL OR EQUIVALENCY
4    05        OCCUPATIONAL PROGRAM

In [157]:
edlvl_data.shape

(24, 2)

In [158]:
#change edlvl data ** to 99 like I did in normal column
edlvl_data['EDLVL'].replace(('**','99'),inplace = True)

In [159]:
#drop Nan
edlvl_data.dropna(subset = ['EDLVL'], inplace = True)

In [160]:
#change edlvl_data to int and back to match 01 and 1 properly as data dictionary
edlvl_data['EDLVL'] = edlvl_data['EDLVL'].astype('int64')

In [161]:
edlvl_data.head()

   EDLVL                      EDLVLT
0      1           BELOW HIGH SCHOOL
1      2           BELOW HIGH SCHOOL
2      3           BELOW HIGH SCHOOL
3      4  HIGH SCHOOL OR EQUIVALENCY
4      5        OCCUPATIONAL PROGRAM

In [162]:
#change value back to string for data dictionary
edlvl_data['EDLVL'] = edlvl_data['EDLVL'].astype('str')

In [163]:
data_dict_edlvl = edlvl_data.set_index('EDLVL').to_dict()['EDLVLT']

In [164]:
#Change EDLVL values to EDLVLT

In [165]:
df_raw10 = df_raw9.replace({"EDLVL":data_dict_edlvl})

In [166]:
df_raw10["EDLVL"].head(20)

0                      BACHELORS
1                 POST-BACHELORS
2                 POST-BACHELORS
3                 POST-BACHELORS
4                 POST-BACHELORS
5                 POST-BACHELORS
6                 POST-BACHELORS
7                 POST-BACHELORS
8                 POST-BACHELORS
9                 POST-BACHELORS
10                     DOCTORATE
11                     BACHELORS
12    HIGH SCHOOL OR EQUIVALENCY
13                       MASTERS
14                     BACHELORS
15                     BACHELORS
16                       MASTERS
17                     BACHELORS
18                       MASTERS
19                       MASTERS
Name: EDLVL, dtype: object

In [167]:
#rename EDLVL and check data type

In [168]:
df_raw10.rename(columns = {'EDLVL':'education_level'},inplace = True)

In [169]:
type('education_level')

str

In [170]:
df_raw10.shape

(2154036, 23)

In [171]:
df_raw10.education_level.value_counts(dropna = False)

BACHELORS                     576079
HIGH SCHOOL OR EQUIVALENCY    560624
MASTERS                       362679
BETWEEN HS & BACHELORS        359391
POST-BACHELORS                110048
DOCTORATE                      78755
BELOW HIGH SCHOOL              42616
OCCUPATIONAL PROGRAM           41900
POST MASTERS                   13582
UNSPECIFIED                     8362
Name: education_level, dtype: int64

### 9. Fix WORKSTAT Column

In [172]:
#WKSTAT represents 2 values - non seasonal full time permanent and "other employees"
#Duplicate column to keep numerical
#Replace 1&2 with values
#Rename and make sure it is string data type

In [173]:
df_raw10.shape

(2154036, 23)

In [174]:
df_raw10.head()

,sub_agency,LOC,age_level,education_level,GSEGRD,years_of_service,occupation,occupation_category,PP,PPGRD,...,WORKSCH,WORKSTAT,DATECODE,SALARY,LOS,age_level_code,occupation_family,occupation_code,agency,education_code
0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,40-44,BACHELORS,NaN,15 - 19,PROGRAM MANAGEMENT,Administrative,ES,ES-**,...,F,1,202203,192500.0,18.8,6.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,13
1,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,55-59,POST-BACHELORS,NaN,25 - 29,GENERAL ATTORNEY,Professional,ES,ES-**,...,F,1,202203,187000.0,29.2,9.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15
2,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,40,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-15,...,F,1,202203,161786.0,12.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15
3,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-15,...,F,1,202203,158383.0,10.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15
4,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,40-44,POST-BACHELORS,13.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-13,...,F,1,202203,121065.0,13.4,6.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15

In [175]:
#duplicate column to keep values for analysis
df_raw10['work_status_code']=df_raw10['WORKSTAT']

In [176]:
df_raw10.work_status_code.value_counts(dropna = False)

1    1944595
2     209441
Name: work_status_code, dtype: int64

In [177]:
#Import WKSTAT.csv and set as data dictionary

In [178]:
wkstat_data = pd.read_csv(os.path.join(path, 'original data', 'WKSTAT.csv'), index_col = False)

In [179]:
wkstat_data.head()

   WORKSTAT                         WORKSTATT
0         1  Non-Seasonal Full Time Permanent
1         2                   Other Employees

In [180]:
wkstat_data.shape

(2, 2)

In [181]:
data_dict_wkstat = wkstat_data.set_index('WORKSTAT').to_dict()['WORKSTATT']

In [182]:
#Change WORKSTAT values to WORKSTATT

In [183]:
df_raw11 = df_raw10.replace({"WORKSTAT":data_dict_wkstat})

In [184]:
df_raw11["WORKSTAT"].head(20)

0     Non-Seasonal Full Time Permanent
1     Non-Seasonal Full Time Permanent
2     Non-Seasonal Full Time Permanent
3     Non-Seasonal Full Time Permanent
4     Non-Seasonal Full Time Permanent
5     Non-Seasonal Full Time Permanent
6     Non-Seasonal Full Time Permanent
7     Non-Seasonal Full Time Permanent
8     Non-Seasonal Full Time Permanent
9                      Other Employees
10                     Other Employees
11    Non-Seasonal Full Time Permanent
12                     Other Employees
13    Non-Seasonal Full Time Permanent
14                     Other Employees
15    Non-Seasonal Full Time Permanent
16    Non-Seasonal Full Time Permanent
17    Non-Seasonal Full Time Permanent
18    Non-Seasonal Full Time Permanent
19    Non-Seasonal Full Time Permanent
Name: WORKSTAT, dtype: object

In [185]:
#rename WORKSTAT and check data type

In [186]:
df_raw11.WORKSTAT.value_counts(dropna = False)

Non-Seasonal Full Time Permanent    1944595
Other Employees                      209441
Name: WORKSTAT, dtype: int64

In [187]:
df_raw11.rename(columns = {'WORKSTAT':'work_status'},inplace = True)

In [188]:
type('work_status')

str

In [189]:
df_raw11.shape

(2154036, 24)

In [190]:
df_raw11.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2154036 entries, 0 to 2155623
Data columns (total 24 columns):
 #   Column               Dtype
---  ------               -----
 0   sub_agency           object
 1   LOC                  object
 2   age_level            object
 3   education_level      object
 4   GSEGRD               object
 5   years_of_service     object
 6   occupation           object
 7   occupation_category  object
 8   PP                   object
 9   PPGRD                object
 10  SALLVL               object
 11  STEMOCC              object
 12  SUPERVIS             object
 13  WORKSCH              object
 14  work_status          object
 15  DATECODE             int64
 16  SALARY               float64
 17  LOS                  float64
 18  age_level_code       float64
 19  occupation_family    object
 20  occupation_code      float64
 21  agency               object
 22  education_code       int64
 23  work_status_code     int64
dtypes: float64(4), int64(3), object(17)
memory usage: 410.8+ MB

### 10. Fix WORKSCH Column

In [191]:
#WORKSCH represents 2 values - full time or not full time
#Duplicate column mark as 1/2 for analysis
#Replace letters with values
#Rename and make sure it is string data type

In [192]:
df_raw11['full_time_code']=df_raw11['WORKSCH']

In [193]:
df_raw11.head()

,sub_agency,LOC,age_level,education_level,GSEGRD,years_of_service,occupation,occupation_category,PP,PPGRD,...,DATECODE,SALARY,LOS,age_level_code,occupation_family,occupation_code,agency,education_code,work_status_code,full_time_code
0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,40-44,BACHELORS,NaN,15 - 19,PROGRAM MANAGEMENT,Administrative,ES,ES-**,...,202203,192500.0,18.8,6.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,13,1,F
1,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,55-59,POST-BACHELORS,NaN,25 - 29,GENERAL ATTORNEY,Professional,ES,ES-**,...,202203,187000.0,29.2,9.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,F
2,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,40,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-15,...,202203,161786.0,12.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,F
3,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-15,...,202203,158383.0,10.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,F
4,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,40-44,POST-BACHELORS,13.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-13,...,202203,121065.0,13.4,6.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,F

In [194]:
#Import WORKSCH.csv and set as data dictionary

In [195]:
worksch_data = pd.read_csv(os.path.join(path, 'original data', 'WRKSCH.csv'), index_col = False)

In [196]:
worksch_data.head()

  WORKSCH       WORKSCHT  full_time_code
0       B      Full-time               1
1       F      Full-time               1
2       G      Full-time               1
3       H      Full-time               1
4       I  Not Full-time               2

In [197]:
worksch_data.shape

(12, 3)

In [198]:
data_dict_worksch = worksch_data.set_index('WORKSCH').to_dict()['WORKSCHT']

In [199]:
#Change WORKSCH values to WORKSCHT

In [200]:
df_raw12 = df_raw11.replace({"WORKSCH":data_dict_worksch})

In [201]:
df_raw12["WORKSCH"].head(20)

0     Full-time
1     Full-time
2     Full-time
3     Full-time
4     Full-time
5     Full-time
6     Full-time
7     Full-time
8     Full-time
9     Full-time
10    Full-time
11    Full-time
12    Full-time
13    Full-time
14    Full-time
15    Full-time
16    Full-time
17    Full-time
18    Full-time
19    Full-time
Name: WORKSCH, dtype: object

In [202]:
df_raw12.shape

(2154036, 25)

In [203]:
df_raw12.WORKSCH.value_counts(dropna = False)

Full-time        2063251
Not Full-time      90771
Unspecified           14
Name: WORKSCH, dtype: int64

In [204]:
#rename WORKSCH and check data type is string

In [205]:
df_raw12.rename(columns = {'WORKSCH':'full_time'},inplace = True)

In [206]:
type('full_time')

str

In [207]:
#use data dictionary to replace full_time_code as numbers for analysis

In [208]:
data_dict_worksch2 = worksch_data.set_index('WORKSCH').to_dict()['full_time_code']

In [209]:
df_raw12b = df_raw12.replace({"full_time_code":data_dict_worksch2})

In [210]:
df_raw12b.shape

(2154036, 25)

In [211]:
df_raw12b.full_time_code.value_counts(dropna = False)

1     2063251
2       90771
99         14
Name: full_time_code, dtype: int64

### 11. Fix SUPERVIS

In [212]:
# SUPERVIS is number coded for supervisor status (or not)
# Create Duplicate column for analysis
# Replace numbers with values
# Rename and make sure it is string

In [213]:
#Import SUPER.csv and set as data dictionary

In [214]:
supervisor_data = pd.read_csv(os.path.join(path, 'original data', 'SUPER.csv'), index_col = False)

In [215]:
supervisor_data.head()

  SUPERVIS                   SUPERVIST
0        2       SUPERVISOR OR MANAGER
1        6                      LEADER
2        7                 TEAM LEADER
3        4           SUPERVISOR (CSRA)
4        5  MANAGEMENT OFFICIAL (CSRA)

In [216]:
supervisor_data.shape

(7, 2)

In [217]:
df_raw12b.SUPERVIS.value_counts(dropna = False)

8    1134752
8     678576
2     172902
2      78269
6      22104
4      15984
4      15025
5      12291
7       9695
6       5835
7       4708
5       3799
*         96
Name: SUPERVIS, dtype: int64

In [218]:
#Realized SUPERVIS has doubles of some objects, I will need to make them integers to merge the same number, then turn them back to object to make data dictionary

In [219]:
df_raw12b['SUPERVIS'].replace(('*', '99'), inplace = True)

In [220]:
df_raw12b[df_raw12b.SUPERVIS == '*']

Empty DataFrame
Columns: [sub_agency, LOC, age_level, education_level, GSEGRD, years_of_service, occupation, occupation_category, PP, PPGRD, SALLVL, STEMOCC, SUPERVIS, full_time, work_status, DATECODE, SALARY, LOS, age_level_code, occupation_family, occupation_code, agency, education_code, work_status_code, full_time_code]
Index: []

[0 rows x 25 columns]

In [221]:
df_raw12b['SUPERVIS'] = df_raw12b['SUPERVIS'].astype('int64')

In [222]:
df_raw12b.SUPERVIS.value_counts(dropna = False)

8    1813409
2     251184
4      31010
6      27939
5      16091
7      14403
Name: SUPERVIS, dtype: int64

In [223]:
df_raw12b['SUPERVIS'] = df_raw12b['SUPERVIS'].astype('str')

In [224]:
supervisor_data.SUPERVIS.value_counts(dropna = False)

2    1
6    1
7    1
4    1
5    1
8    1
*    1
Name: SUPERVIS, dtype: int64

In [225]:
supervisor_data['SUPERVIS'].replace(('*', '99'), inplace = True)

In [226]:
supervisor_data.SUPERVIS.value_counts(dropna = False)

8    2
2    1
6    1
7    1
4    1
5    1
Name: SUPERVIS, dtype: int64

In [227]:
#Duplicate column for code value

In [228]:
df_raw12b['supervisor_code']=df_raw12b['SUPERVIS']

In [229]:
df_raw12b.head()

,sub_agency,LOC,age_level,education_level,GSEGRD,years_of_service,occupation,occupation_category,PP,PPGRD,...,SALARY,LOS,age_level_code,occupation_family,occupation_code,agency,education_code,work_status_code,full_time_code,supervisor_code
0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,40-44,BACHELORS,NaN,15 - 19,PROGRAM MANAGEMENT,Administrative,ES,ES-**,...,192500.0,18.8,6.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,13,1,1,2
1,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,55-59,POST-BACHELORS,NaN,25 - 29,GENERAL ATTORNEY,Professional,ES,ES-**,...,187000.0,29.2,9.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,2
2,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,40,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-15,...,161786.0,12.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,2
3,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-15,...,158383.0,10.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,8
4,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,40-44,POST-BACHELORS,13.0,10 - 14,GENERAL ATTORNEY,Professional,99,GS-13,...,121065.0,13.4,6.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,8

In [230]:
df_raw12b.shape

(2154036, 26)

In [231]:
type('supervisor_code')

str

In [232]:
df_raw12b.supervisor_code.value_counts(dropna = False)

8    1813409
2     251184
4      31010
6      27939
5      16091
7      14403
Name: supervisor_code, dtype: int64

In [233]:
df_raw12b['supervisor_code']=df_raw12b['supervisor_code'].astype('int64')

In [234]:
#Create Data Dictionary

In [235]:
data_dict_supervisor = supervisor_data.set_index('SUPERVIS').to_dict()['SUPERVIST']

In [236]:
df_raw13 = df_raw12b.replace({"SUPERVIS":data_dict_supervisor})

In [237]:
df_raw13['SUPERVIS'].head(10)

0    SUPERVISOR OR MANAGER
1    SUPERVISOR OR MANAGER
2    SUPERVISOR OR MANAGER
3              UNSPECIFIED
4              UNSPECIFIED
5              UNSPECIFIED
6    SUPERVISOR OR MANAGER
7              UNSPECIFIED
8              UNSPECIFIED
9              UNSPECIFIED
Name: SUPERVIS, dtype: object

In [238]:
df_raw13.shape

(2154036, 26)

In [239]:
df_raw13.SUPERVIS.value_counts(dropna=False)

UNSPECIFIED                   1813409
SUPERVISOR OR MANAGER          251184
SUPERVISOR (CSRA)               31010
LEADER                          27939
MANAGEMENT OFFICIAL (CSRA)      16091
TEAM LEADER                     14403
Name: SUPERVIS, dtype: int64

In [240]:
#rename SUPERVIS and check data type is string

In [241]:
df_raw13.rename(columns = {'SUPERVIS':'supervisor_status'},inplace = True)

In [242]:
type('supervisor_status')

str

### 12. Fix PP and PPGRD

In [243]:
#PP is a two letter code for Pay Plan, with 5 categories - it can be deleted as these are all categories of PPGRD
#PPGRD has 2 letters for pay plan '-' then 2 numbers which are the grade (which we have a column for already)
#separate 2 letters out of PPGRD then change values
#Rename and make sure it is string

In [244]:
#Delete column PP

In [245]:
df_raw14 = df_raw13.drop(columns =['PP'])

In [246]:
df_raw14.head()

,sub_agency,LOC,age_level,education_level,GSEGRD,years_of_service,occupation,occupation_category,PPGRD,SALLVL,...,SALARY,LOS,age_level_code,occupation_family,occupation_code,agency,education_code,work_status_code,full_time_code,supervisor_code
0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,40-44,BACHELORS,NaN,15 - 19,PROGRAM MANAGEMENT,Administrative,ES-**,S,...,192500.0,18.8,6.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,13,1,1,2
1,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,55-59,POST-BACHELORS,NaN,25 - 29,GENERAL ATTORNEY,Professional,ES-**,R,...,187000.0,29.2,9.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,2
2,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,40,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,GS-15,P,...,161786.0,12.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,2
3,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,GS-15,O,...,158383.0,10.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,8
4,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,40-44,POST-BACHELORS,13.0,10 - 14,GENERAL ATTORNEY,Professional,GS-13,L,...,121065.0,13.4,6.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,8

In [247]:
df_raw14.shape

(2154036, 25)

In [248]:
#Pull first two characters from column PPGRD and replace values in PPGRD with that

In [249]:
df_raw14['PPGRD'] = df_raw14['PPGRD'].str[:2]

In [250]:
df_raw14['PPGRD'].head(10)

0    ES
1    ES
2    GS
3    GS
4    GS
5    GS
6    ES
7    GS
8    GS
9    GS
Name: PPGRD, dtype: object

In [251]:
#Import PP.csv and create Data Dictionary

In [252]:
payplan_data = pd.read_csv(os.path.join(path, 'original data', 'PP.csv'), index_col = False)

In [253]:
payplan_data.head()

  PPGRD                                           PAYPLANT
0    GL  GL-GS EMPLOYEES IN GRADES 3 THROUGH 10 PAID A ...
1    GL  GL-GS EMPLOYEES IN GRADES 3 THROUGH 10 PAID A ...
2    GL  GL-GS EMPLOYEES IN GRADES 3 THROUGH 10 PAID A ...
3    GL  GL-GS EMPLOYEES IN GRADES 3 THROUGH 10 PAID A ...
4    GL  GL-GS EMPLOYEES IN GRADES 3 THROUGH 10 PAID A ...

In [254]:
payplan_data.shape

(992, 2)

In [255]:
payplan_data.PPGRD.value_counts(dropna = False)

AT    76
AD    59
TP    30
WM    27
WS    18
      ..
IJ     1
IP     1
BB     1
LL     1
IE     1
Name: PPGRD, Length: 167, dtype: int64

In [256]:
df_raw14.PPGRD.value_counts(dropna = False)

GS    1440479
WG     127291
VN      77064
SV      60066
NH      49049
       ...
FJ          4
WQ          4
FS          2
KL          2
SQ          1
Name: PPGRD, Length: 167, dtype: int64

In [257]:
data_dict_payplan = payplan_data.set_index('PPGRD').to_dict()['PAYPLANT']

In [258]:
#replace values

In [259]:
df_raw15 = df_raw14.replace({"PPGRD":data_dict_payplan})

In [260]:
df_raw15["PPGRD"].head(20)

0     ES-SENIOR EXECUTIVE SERVICE
1     ES-SENIOR EXECUTIVE SERVICE
2             GS-GENERAL SCHEDULE
3             GS-GENERAL SCHEDULE
4             GS-GENERAL SCHEDULE
5             GS-GENERAL SCHEDULE
6     ES-SENIOR EXECUTIVE SERVICE
7             GS-GENERAL SCHEDULE
8             GS-GENERAL SCHEDULE
9             GS-GENERAL SCHEDULE
10            GS-GENERAL SCHEDULE
11            GS-GENERAL SCHEDULE
12            GS-GENERAL SCHEDULE
13            GS-GENERAL SCHEDULE
14            GS-GENERAL SCHEDULE
15            GS-GENERAL SCHEDULE
16    ES-SENIOR EXECUTIVE SERVICE
17            GS-GENERAL SCHEDULE
18            GS-GENERAL SCHEDULE
19            GS-GENERAL SCHEDULE
Name: PPGRD, dtype: object

In [261]:
df_raw15.shape

(2154036, 25)

In [262]:
#rename column and check data type

In [263]:
df_raw15.rename(columns = {'PPGRD':'pay_plan'},inplace = True)

In [264]:
type('pay_plan')

str

### 13. Fix LOC

In [265]:
#LOC is either a number to represent a U.S. State, or a 2 letter code for a country
#Break down LOC into state or foreign country and then a column for country
#Replace variable information then rename columns

In [266]:
#Create duplicate LOC column temporarily named LOC2

In [267]:
df_raw15['LOC2'] = df_raw15['LOC']

In [268]:
df_raw15.head()

,sub_agency,LOC,age_level,education_level,GSEGRD,years_of_service,occupation,occupation_category,pay_plan,SALLVL,...,LOS,age_level_code,occupation_family,occupation_code,agency,education_code,work_status_code,full_time_code,supervisor_code,LOC2
0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,40-44,BACHELORS,NaN,15 - 19,PROGRAM MANAGEMENT,Administrative,ES-SENIOR EXECUTIVE SERVICE,S,...,18.8,6.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,13,1,1,2,11
1,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,55-59,POST-BACHELORS,NaN,25 - 29,GENERAL ATTORNEY,Professional,ES-SENIOR EXECUTIVE SERVICE,R,...,29.2,9.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,2,11
2,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,40,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,GS-GENERAL SCHEDULE,P,...,12.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,2,40
3,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,GS-GENERAL SCHEDULE,O,...,10.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,8,11
4,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,11,40-44,POST-BACHELORS,13.0,10 - 14,GENERAL ATTORNEY,Professional,GS-GENERAL SCHEDULE,L,...,13.4,6.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,8,11

In [269]:
df_raw15.shape

(2154036, 26)

In [270]:
#Import LOC.csv and map data dictionary to country column

In [271]:
loc_data = pd.read_csv(os.path.join(path, 'original data', 'LOC.csv'), index_col = False)

In [272]:
loc_data.head()

  LOC    LOCSTATE     LOCCOUNTRY
0  01     ALABAMA  United States
1  02      ALASKA  United States
2  04     ARIZONA  United States
3  05    ARKANSAS  United States
4  06  CALIFORNIA  United States

In [273]:
loc_data.shape

(225, 3)

In [274]:
data_dict_country = loc_data.set_index('LOC').to_dict()['LOCCOUNTRY']

In [275]:
#replace values in LOC column as country

In [276]:
df_raw16 = df_raw15.replace({"LOC":data_dict_country})

In [277]:
df_raw16['LOC'].head(20)

0     United States
1     United States
2     United States
3     United States
4     United States
5     United States
6     United States
7     United States
8     United States
9     United States
10    United States
11    United States
12    United States
13           FRANCE
14    United States
15    United States
16           FRANCE
17           FRANCE
18    United States
19    United States
Name: LOC, dtype: object

In [278]:
df_raw16.shape

(2154036, 26)

In [279]:
#rename LOC to country and make sure string data type

In [280]:
df_raw16.rename(columns = {'LOC':'country'},inplace = True)

In [281]:
type('country')

str

In [282]:
#rename column LOC2 to LOC, create new data dictionary from LOC.csv for State

In [283]:
df_raw16.rename(columns = {'LOC2':'LOC'},inplace = True)

In [284]:
df_raw16.LOC.value_counts(dropna = False)

US    287812
11    141211
06    141205
51    138581
24    136144
       ...
MJ         1
LO         1
TX         1
LY         1
CV         1
Name: LOC, Length: 219, dtype: int64

In [285]:
data_dict_state = loc_data.set_index('LOC').to_dict()['LOCSTATE']

In [286]:
#replace values and check

In [287]:
df_raw17 = df_raw16.replace({"LOC":data_dict_state})

In [288]:
df_raw17['LOC'].head(20)

0     DISTRICT OF COLUMBIA
1     DISTRICT OF COLUMBIA
2                 OKLAHOMA
3     DISTRICT OF COLUMBIA
4     DISTRICT OF COLUMBIA
5     DISTRICT OF COLUMBIA
6     DISTRICT OF COLUMBIA
7     DISTRICT OF COLUMBIA
8     DISTRICT OF COLUMBIA
9     DISTRICT OF COLUMBIA
10                NEW YORK
11    DISTRICT OF COLUMBIA
12    DISTRICT OF COLUMBIA
13       Foreign Countries
14                    OHIO
15                VIRGINIA
16       Foreign Countries
17       Foreign Countries
18                   MAINE
19                VIRGINIA
Name: LOC, dtype: object

In [289]:
df_raw17.shape

(2154036, 26)

In [290]:
#rename LOC to state (I can subset only U.S. States later if needed) and make sure string data type

In [291]:
df_raw17.rename(columns = {'LOC':'state'},inplace = True)

In [292]:
type('state')

str

In [293]:
df_raw17.state.value_counts(dropna = False)

SUPPRESSED (SEE DATA DEFINITIONS)    287812
DISTRICT OF COLUMBIA                 141211
CALIFORNIA                           141205
VIRGINIA                             138581
MARYLAND                             136144
TEXAS                                119639
FLORIDA                               85461
GEORGIA                               75398
PENNSYLVANIA                          62240
WASHINGTON                            53922
OHIO                                  50625
NEW YORK                              50588
NORTH CAROLINA                        46655
ILLINOIS                              41465
OKLAHOMA                              39786
ALABAMA                               38619
COLORADO                              37311
MISSOURI                              36354
ARIZONA                               31694
UTAH                                  30652
Foreign Countries                     30022
TENNESSEE                             27583
MICHIGAN                              26262
MASSACHUSETTS                         24330
HAWAII                                23448
INDIANA                               23392
SOUTH CAROLINA                        22501
NEW MEXICO                            21539
KENTUCKY                              21222
NEW JERSEY                            20800
OREGON                                18454
LOUISIANA                             18363
MISSISSIPPI                           17891
KANSAS                                16546
MINNESOTA                             16536
WISCONSIN                             16273
WEST VIRGINIA                         16097
U.S. Territories                      15905
ARKANSAS                              13156
NEVADA                                12246
MAINE                                 11481
ALASKA                                10814
NEBRASKA                               9621
MONTANA                                9261
IOWA                                   8801
IDAHO                                  8676
SOUTH DAKOTA                           8187
CONNECTICUT                            8147
RHODE ISLAND                           7737
WYOMING                                5607
NORTH DAKOTA                           5412
NEW HAMPSHIRE                          4360
DELAWARE                               3266
VERMONT                                3091
Unspecified                            1647
Name: state, dtype: int64

### 14. Fix STEMOCC

In [294]:
#STEMOCC is a breakdown of occupation, labeling STEM specific occupations
#I created in EXCEL a binary value for STEMOCC 1 if STEM 0 if not
#Replace Values in raw data with data dictionary then rename

In [295]:
#Import STEMOCC.csv and make data dictionary

In [296]:
stem_data = pd.read_csv(os.path.join(path, 'original data', 'STEMOCC.csv'), index_col = False)

In [297]:
stem_data.head()

  STEMOCC STEMOCCT
0    0020        1
1    0028        1
2    0072        1
3    0101        1
4    0110        1

In [298]:
stem_data.tail()

    STEMOCC     STEMOCCT
112    0685            1
113    0690            1
114    0696            1
115    XXXX            0
116    ****  UNSPECIFIED

In [299]:
stem_data.shape

(117, 2)

In [300]:
data_dict_stem = stem_data.set_index('STEMOCC').to_dict()['STEMOCCT']

In [301]:
#replace values and check

In [302]:
df_raw18 = df_raw17.replace({"STEMOCC":data_dict_stem})

In [303]:
df_raw18['STEMOCC'].head(20)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: STEMOCC, dtype: object

In [304]:
df_raw18.shape

(2154036, 26)

In [305]:
df_raw18.STEMOCC.value_counts(dropna = False)

0              1591734
1               560945
UNSPECIFIED       1357
Name: STEMOCC, dtype: int64

In [306]:
#rename and remove 1395 UNSPECIFIED

In [307]:
df_raw18.rename(columns = {'STEMOCC':'stem'},inplace = True)

In [308]:
df_raw19 = df_raw18.loc[df_raw18['stem'].isin(['0','1'])]

In [309]:
df_raw19.stem.value_counts(dropna = False)

0    1591734
1     560945
Name: stem, dtype: int64

In [310]:
df_raw19.shape

(2152679, 26)

### 15. Remove SALLVL, Check Other 4 columns

In [311]:
#Remove SALLLVL as it is just dividing salary levels by 10,000 and I can create my own groups

In [312]:
df_raw19 = df_raw19.drop(columns =['SALLVL'])

In [313]:
df_raw19.head()

,sub_agency,country,age_level,education_level,GSEGRD,years_of_service,occupation,occupation_category,pay_plan,stem,...,LOS,age_level_code,occupation_family,occupation_code,agency,education_code,work_status_code,full_time_code,supervisor_code,state
0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,40-44,BACHELORS,NaN,15 - 19,PROGRAM MANAGEMENT,Administrative,ES-SENIOR EXECUTIVE SERVICE,0,...,18.8,6.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,13,1,1,2,DISTRICT OF COLUMBIA
1,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,55-59,POST-BACHELORS,NaN,25 - 29,GENERAL ATTORNEY,Professional,ES-SENIOR EXECUTIVE SERVICE,0,...,29.2,9.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,2,DISTRICT OF COLUMBIA
2,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,GS-GENERAL SCHEDULE,0,...,12.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,2,OKLAHOMA
3,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,GS-GENERAL SCHEDULE,0,...,10.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,8,DISTRICT OF COLUMBIA
4,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,40-44,POST-BACHELORS,13.0,10 - 14,GENERAL ATTORNEY,Professional,GS-GENERAL SCHEDULE,0,...,13.4,6.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,8,DISTRICT OF COLUMBIA

In [314]:
df_raw19.shape

(2152679, 25)

In [315]:
#Check GSEGRD which should be levels 1-15

In [316]:
df_raw19.GSEGRD.value_counts(dropna = False)

NaN     631940
12.0    230086
13.0    194253
11.0    160901
9.0     106066
14.0     95206
6.0      85451
7.0      85175
13       77713
12       74585
5.0      55533
15.0     47073
14       46228
11       37781
07       35449
09       34798
8.0      29314
08       23238
15       19267
05       17475
06       14410
04       14162
4.0      13660
10.0     11276
3.0       4261
10        3509
03        2761
2.0        357
02         327
01         229
**         134
1.0         61
Name: GSEGRD, dtype: int64

In [317]:
#Rename ** values as 99 for Unspecified

In [318]:
df_raw19['GSEGRD'].replace(('**', '99'), inplace = True)

In [319]:
df_raw19[df_raw19.GSEGRD == '**']

Empty DataFrame
Columns: [sub_agency, country, age_level, education_level, GSEGRD, years_of_service, occupation, occupation_category, pay_plan, stem, supervisor_status, full_time, work_status, DATECODE, SALARY, LOS, age_level_code, occupation_family, occupation_code, agency, education_code, work_status_code, full_time_code, supervisor_code, state]
Index: []

[0 rows x 25 columns]

In [320]:
df_raw19['GSEGRD'] = df_raw19['GSEGRD'].astype('float')

In [321]:
df_raw19.GSEGRD.value_counts(dropna = False)

NaN     631944
12.0    304726
13.0    271993
11.0    198689
14.0    141448
9.0     140879
7.0     120627
6.0      99861
5.0      73010
15.0     66343
8.0      52554
4.0      27824
10.0     14785
3.0       7022
2.0        684
1.0        290
Name: GSEGRD, dtype: int64

In [322]:
#rename GSEGRD

In [323]:
df_raw19.rename(columns = {'GSEGRD':'pay_grade'},inplace = True)

In [324]:
#Check DATECODE

In [325]:
df_raw19.DATECODE.value_counts(dropna = False)

202203    2152679
Name: DATECODE, dtype: int64

In [326]:
df_raw19['DATECODE'] = df_raw19['DATECODE'].astype('str')

In [327]:
df_raw19['DATECODE'] = df_raw19['DATECODE'].replace('202203', 'March 2022')

In [328]:
df_raw19.DATECODE.value_counts(dropna = False)

March 2022    2152679
Name: DATECODE, dtype: int64

In [329]:
#rename DATECODE

In [330]:
df_raw19.rename(columns = {'DATECODE':'date'},inplace = True)

In [331]:
#Check LOS

In [332]:
df_raw19.LOS.value_counts(dropna = False)

0.8     24194
0.3     23637
1.8     23147
2.8     22229
5.8     18971
        ...
66.0        1
61.2        1
63.0        1
56.9        1
70.7        1
Name: LOS, Length: 643, dtype: int64

In [333]:
#I named LOSLVL years_of_service when it should be a group flag, renaming it here and naming LOS years_of_service

In [334]:
df_raw19.rename(columns = {'years_of_service':'years_grouping'},inplace = True)

In [335]:
df_raw19.rename(columns = {'LOS':'years_of_service'},inplace = True)

In [336]:
df_raw19.head()

,sub_agency,country,age_level,education_level,pay_grade,years_grouping,occupation,occupation_category,pay_plan,stem,...,years_of_service,age_level_code,occupation_family,occupation_code,agency,education_code,work_status_code,full_time_code,supervisor_code,state
0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,40-44,BACHELORS,NaN,15 - 19,PROGRAM MANAGEMENT,Administrative,ES-SENIOR EXECUTIVE SERVICE,0,...,18.8,6.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,13,1,1,2,DISTRICT OF COLUMBIA
1,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,55-59,POST-BACHELORS,NaN,25 - 29,GENERAL ATTORNEY,Professional,ES-SENIOR EXECUTIVE SERVICE,0,...,29.2,9.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,2,DISTRICT OF COLUMBIA
2,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,GS-GENERAL SCHEDULE,0,...,12.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,2,OKLAHOMA
3,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,GS-GENERAL SCHEDULE,0,...,10.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,8,DISTRICT OF COLUMBIA
4,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,40-44,POST-BACHELORS,13.0,10 - 14,GENERAL ATTORNEY,Professional,GS-GENERAL SCHEDULE,0,...,13.4,6.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,8,DISTRICT OF COLUMBIA

In [337]:
#Rename Salary to be lower case like the rest

In [338]:
df_raw19.rename(columns = {'SALARY':'salary'},inplace = True)

In [339]:
df_raw19.head()

,sub_agency,country,age_level,education_level,pay_grade,years_grouping,occupation,occupation_category,pay_plan,stem,...,years_of_service,age_level_code,occupation_family,occupation_code,agency,education_code,work_status_code,full_time_code,supervisor_code,state
0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,40-44,BACHELORS,NaN,15 - 19,PROGRAM MANAGEMENT,Administrative,ES-SENIOR EXECUTIVE SERVICE,0,...,18.8,6.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,13,1,1,2,DISTRICT OF COLUMBIA
1,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,55-59,POST-BACHELORS,NaN,25 - 29,GENERAL ATTORNEY,Professional,ES-SENIOR EXECUTIVE SERVICE,0,...,29.2,9.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,2,DISTRICT OF COLUMBIA
2,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,GS-GENERAL SCHEDULE,0,...,12.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,2,OKLAHOMA
3,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,35-39,POST-BACHELORS,15.0,10 - 14,GENERAL ATTORNEY,Professional,GS-GENERAL SCHEDULE,0,...,10.5,5.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,8,DISTRICT OF COLUMBIA
4,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,40-44,POST-BACHELORS,13.0,10 - 14,GENERAL ATTORNEY,Professional,GS-GENERAL SCHEDULE,0,...,13.4,6.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,8,DISTRICT OF COLUMBIA

In [340]:
df_raw19.shape

(2152679, 25)

### Check for NaN values and possibly remove

In [341]:
#In March 2022 Exploration of Data I found that EDLVL, GSEGRD, SALARY, and LOS all had NaN values

In [342]:
df_raw19.isnull().sum()

sub_agency                   0
country                      0
age_level                    0
education_level              0
pay_grade               631944
years_grouping               0
occupation                   0
occupation_category          0
pay_plan                     0
stem                         0
supervisor_status            0
full_time                    0
work_status                  0
date                         0
salary                  301029
years_of_service           536
age_level_code               0
occupation_family      1113697
occupation_code              0
agency                       0
education_code               0
work_status_code             0
full_time_code               0
supervisor_code              0
state                        0
dtype: int64

In [350]:
#Check years of service as it is numerical (float) and we can replace with mean or median

In [351]:
df_raw19['years_of_service'].describe()

count    2.152679e+06
mean     1.221623e+01
std      9.964196e+00
min      0.000000e+00
25%      3.800000e+00
50%      1.070000e+01
75%      1.780000e+01
max      7.760000e+01
Name: years_of_service, dtype: float64

In [352]:
df_raw19['years_of_service'].median()

10.7

In [353]:
df_raw19['years_of_service'].mode()

0    0.8
Name: years_of_service, dtype: float64

In [354]:
# mode<median<mean so a positive skew so we will replace values with median as data is skewed

In [355]:
df_raw19['years_of_service'] = df_raw19['years_of_service'].fillna(df_raw19['years_of_service'].median())

In [356]:
df_raw19.isnull().sum()

sub_agency                   0
country                      0
age_level                    0
education_level              0
pay_grade               631944
years_grouping               0
occupation                   0
occupation_category          0
pay_plan                     0
stem                         0
supervisor_status            0
full_time                    0
work_status                  0
date                         0
salary                  301029
years_of_service             0
age_level_code               0
occupation_family      1113697
occupation_code              0
agency                       0
education_code               0
work_status_code             0
full_time_code               0
supervisor_code              0
state                        0
dtype: int64

In [357]:
#taking note that occupation_family is missing 50% so probably won't be a good category for sorting.  I'm leaving all values in

In [358]:
df_nan_paygrade = df_raw19[df_raw19['pay_grade'].isnull() == True]

In [359]:
df_nan_paygrade

,sub_agency,country,age_level,education_level,pay_grade,years_grouping,occupation,occupation_category,pay_plan,stem,...,years_of_service,age_level_code,occupation_family,occupation_code,agency,education_code,work_status_code,full_time_code,supervisor_code,state
0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,40-44,BACHELORS,NaN,15 - 19,PROGRAM MANAGEMENT,Administrative,ES-SENIOR EXECUTIVE SERVICE,0,...,18.8,6.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,13,1,1,2,DISTRICT OF COLUMBIA
1,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,55-59,POST-BACHELORS,NaN,25 - 29,GENERAL ATTORNEY,Professional,ES-SENIOR EXECUTIVE SERVICE,0,...,29.2,9.0,LEGAL AND KINDRED,1.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,2,DISTRICT OF COLUMBIA
6,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,United States,50-54,POST-BACHELORS,NaN,10 - 14,MISCELLANEOUS ADMINISTRATION AND PROGRAM,Administrative,ES-SENIOR EXECUTIVE SERVICE,0,...,12.4,8.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,ADMINISTRATIVE CONFERENCE OF THE UNITED STATES,15,1,1,2,DISTRICT OF COLUMBIA
16,AMERICAN BATTLE MONUMENTS COMMISSION,FRANCE,55-59,MASTERS,NaN,35 or more,MISCELLANEOUS ADMINISTRATION AND PROGRAM,Administrative,ES-SENIOR EXECUTIVE SERVICE,0,...,36.7,9.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,AMERICAN BATTLE MONUMENTS COMMISSION,17,1,1,2,Foreign Countries
26,AMERICAN BATTLE MONUMENTS COMMISSION,United States,65 or more,DOCTORATE,NaN,1 - 2,HISTORY,Professional,ED-EXPERT (5 U.S.C. 3109),0,...,1.8,11.0,"SOCIAL SCIENCE, PSYCHOLOGY, AND WELFARE",1.0,AMERICAN BATTLE MONUMENTS COMMISSION,21,2,2,8,VIRGINIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155619,UNITED STATES-CHINA ECONOMIC AND SECURITY REVI...,United States,30-34,HIGH SCHOOL OR EQUIVALENCY,NaN,3 - 4,MISCELLANEOUS ADMINISTRATION AND PROGRAM,Administrative,"AD-ADMINISTRATIVELY DETERMINED RATES, NOT ELSE...",0,...,3.2,4.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,UNITED STATES-CHINA ECONOMIC AND SECURITY REVI...,4,2,1,8,DISTRICT OF COLUMBIA
2155620,UNITED STATES-CHINA ECONOMIC AND SECURITY REVI...,United States,25-29,HIGH SCHOOL OR EQUIVALENCY,NaN,Less than 1,MISCELLANEOUS ADMINISTRATION AND PROGRAM,Administrative,"AD-ADMINISTRATIVELY DETERMINED RATES, NOT ELSE...",0,...,0.6,3.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,UNITED STATES-CHINA ECONOMIC AND SECURITY REVI...,4,2,1,8,DISTRICT OF COLUMBIA
2155621,UNITED STATES-CHINA ECONOMIC AND SECURITY REVI...,United States,25-29,HIGH SCHOOL OR EQUIVALENCY,NaN,3 - 4,MISCELLANEOUS ADMINISTRATION AND PROGRAM,Administrative,"AD-ADMINISTRATIVELY DETERMINED RATES, NOT ELSE...",0,...,4.5,3.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,UNITED STATES-CHINA ECONOMIC AND SECURITY REVI...,4,2,1,8,DISTRICT OF COLUMBIA
2155622,UNITED STATES-CHINA ECONOMIC AND SECURITY REVI...,United States,25-29,MASTERS,NaN,Less than 1,MISCELLANEOUS ADMINISTRATION AND PROGRAM,Administrative,"AD-ADMINISTRATIVELY DETERMINED RATES, NOT ELSE...",0,...,0.3,3.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,UNITED STATES-CHINA ECONOMIC AND SECURITY REVI...,17,2,1,8,DISTRICT OF COLUMBIA
2155623,UNITED STATES-CHINA ECONOMIC AND SECURITY REVI...,United States,65 or more,HIGH SCHOOL OR EQUIVALENCY,NaN,Less than 1,MISCELLANEOUS ADMINISTRATION AND PROGRAM,Administrative,"AD-ADMINISTRATIVELY DETERMINED RATES, NOT ELSE...",0,...,0.2,11.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,UNITED STATES-CHINA ECONOMIC AND SECURITY REVI...,4,2,2,2,DISTRICT OF COLUMBIA

In [360]:
df_nan_salary = df_raw19[df_raw19['salary'].isnull() == True]

In [361]:
df_nan_salary

,sub_agency,country,age_level,education_level,pay_grade,years_grouping,occupation,occupation_category,pay_plan,stem,...,years_of_service,age_level_code,occupation_family,occupation_code,agency,education_code,work_status_code,full_time_code,supervisor_code,state
93,AIR FORCE INSPECTION AGENCY (FO),SUPPRESSED,60-64,BACHELORS,14.0,15 - 19,"GENERAL INSPECTION, INVESTIGATION, ENFORCEMENT...",Administrative,GS-GENERAL SCHEDULE,0,...,15.3,10.0,INVESTIGATION,2.0,DEPARTMENT OF THE AIR FORCE,13,1,1,2,SUPPRESSED (SEE DATA DEFINITIONS)
97,AIR FORCE INSPECTION AGENCY (FO),SUPPRESSED,60-64,MASTERS,15.0,10 - 14,"GENERAL INSPECTION, INVESTIGATION, ENFORCEMENT...",Administrative,GS-GENERAL SCHEDULE,0,...,13.2,10.0,INVESTIGATION,2.0,DEPARTMENT OF THE AIR FORCE,17,1,1,2,SUPPRESSED (SEE DATA DEFINITIONS)
100,AIR FORCE INSPECTION AGENCY (FO),SUPPRESSED,35-39,HIGH SCHOOL OR EQUIVALENCY,13.0,10 - 14,"GENERAL INSPECTION, INVESTIGATION, ENFORCEMENT...",Administrative,GS-GENERAL SCHEDULE,0,...,13.4,5.0,INVESTIGATION,2.0,DEPARTMENT OF THE AIR FORCE,4,1,1,8,SUPPRESSED (SEE DATA DEFINITIONS)
101,AIR FORCE INSPECTION AGENCY (FO),SUPPRESSED,65 or more,BACHELORS,14.0,10 - 14,"GENERAL INSPECTION, INVESTIGATION, ENFORCEMENT...",Administrative,GS-GENERAL SCHEDULE,0,...,12.6,11.0,INVESTIGATION,2.0,DEPARTMENT OF THE AIR FORCE,13,1,1,2,SUPPRESSED (SEE DATA DEFINITIONS)
102,AIR FORCE INSPECTION AGENCY (FO),SUPPRESSED,35-39,MASTERS,13.0,15 - 19,"GENERAL INSPECTION, INVESTIGATION, ENFORCEMENT...",Administrative,GS-GENERAL SCHEDULE,0,...,17.4,5.0,INVESTIGATION,2.0,DEPARTMENT OF THE AIR FORCE,17,1,1,8,SUPPRESSED (SEE DATA DEFINITIONS)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155580,U.S. COMMISSION ON INTERNATIONAL RELIGIOUS FRE...,United States,60-64,HIGH SCHOOL OR EQUIVALENCY,NaN,1 - 2,MISCELLANEOUS ADMINISTRATION AND PROGRAM,Administrative,"AD-ADMINISTRATIVELY DETERMINED RATES, NOT ELSE...",0,...,1.0,10.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,U.S. COMMISSION ON INTERNATIONAL RELIGIOUS FRE...,4,2,2,8,DISTRICT OF COLUMBIA
2155586,U.S. COMMISSION ON INTERNATIONAL RELIGIOUS FRE...,United States,65 or more,POST-BACHELORS,NaN,1 - 2,MISCELLANEOUS ADMINISTRATION AND PROGRAM,Administrative,"AD-ADMINISTRATIVELY DETERMINED RATES, NOT ELSE...",0,...,2.1,11.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,U.S. COMMISSION ON INTERNATIONAL RELIGIOUS FRE...,16,2,2,8,DISTRICT OF COLUMBIA
2155587,U.S. COMMISSION ON INTERNATIONAL RELIGIOUS FRE...,United States,65 or more,BACHELORS,NaN,1 - 2,MISCELLANEOUS ADMINISTRATION AND PROGRAM,Administrative,"AD-ADMINISTRATIVELY DETERMINED RATES, NOT ELSE...",0,...,1.8,11.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,U.S. COMMISSION ON INTERNATIONAL RELIGIOUS FRE...,13,2,2,8,DISTRICT OF COLUMBIA
2155588,U.S. COMMISSION ON INTERNATIONAL RELIGIOUS FRE...,United States,50-54,BACHELORS,NaN,1 - 2,MISCELLANEOUS ADMINISTRATION AND PROGRAM,Administrative,"AD-ADMINISTRATIVELY DETERMINED RATES, NOT ELSE...",0,...,1.8,8.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,U.S. COMMISSION ON INTERNATIONAL RELIGIOUS FRE...,13,2,2,8,DISTRICT OF COLUMBIA
2155590,U.S. COMMISSION ON INTERNATIONAL RELIGIOUS FRE...,United States,65 or more,HIGH SCHOOL OR EQUIVALENCY,NaN,Less than 1,MISCELLANEOUS ADMINISTRATION AND PROGRAM,Administrative,"AD-ADMINISTRATIVELY DETERMINED RATES, NOT ELSE...",0,...,0.6,11.0,"GENERAL ADMIN, CLERICAL, & OFFICE SVCS",2.0,U.S. COMMISSION ON INTERNATIONAL RELIGIOUS FRE...,4,2,2,8,DISTRICT OF COLUMBIA

In [362]:
#Both salary and paygrade don't have a consisten grouping that have NaN values, I will leave values in for now

In [363]:
df_raw19.shape

(2152679, 25)

In [364]:
#double check data types
df_raw19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2152679 entries, 0 to 2155623
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   sub_agency           object
 1   country              object
 2   age_level            object
 3   education_level      object
 4   pay_grade            float64
 5   years_grouping       object
 6   occupation           object
 7   occupation_category  object
 8   pay_plan             object
 9   stem                 object
 10  supervisor_status    object
 11  full_time            object
 12  work_status          object
 13  date                 object
 14  salary               float64
 15  years_of_service     float64
 16  age_level_code       float64
 17  occupation_family    object
 18  occupation_code      float64
 19  agency               object
 20  education_code       int64
 21  work_status_code     int64
 22  full_time_code       int64
 23  supervisor_code      int64
 24  state                object
dtypes: float64(5), int64(4), object(16)
memory usage: 427.0+ MB

In [365]:
#change data type for stem
df_raw19['stem']=df_raw19['stem'].astype('int64')

In [366]:
df_raw19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2152679 entries, 0 to 2155623
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   sub_agency           object
 1   country              object
 2   age_level            object
 3   education_level      object
 4   pay_grade            float64
 5   years_grouping       object
 6   occupation           object
 7   occupation_category  object
 8   pay_plan             object
 9   stem                 int64
 10  supervisor_status    object
 11  full_time            object
 12  work_status          object
 13  date                 object
 14  salary               float64
 15  years_of_service     float64
 16  age_level_code       float64
 17  occupation_family    object
 18  occupation_code      float64
 19  agency               object
 20  education_code       int64
 21  work_status_code     int64
 22  full_time_code       int64
 23  supervisor_code      int64
 24  state                object
dtypes: float64(5), int64(5), object(15)
memory usage: 427.0+ MB

### 16. Export data frame as March 2022 Clean-A pickle

In [367]:
df_raw19.to_pickle(os.path.join(path,'prepared data','March 2022 clean-a.pkl'))